{%load static%}
<footer>

        <div class="newletter">
          <div class="container">
            <div class="row justify-content-between align-items-center">
              <div class="col-12 col-md-7">
                <div class="newletter_text text-center text-md-left">
                  <h5>Join Our Newsletter Now</h5>
                  <p>Get E-mail updates about our latest shop and special offers.</p>
                </div>
              </div>
              <div class="col-12 col-md-5">
                <div class="newletter_input">
                  <input class="round-input" type="text" placeholder="Enter your email">
                  <button>Subcribe</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="footer-credit">
          <div class="container">
            <div class="footer-creadit_block d-flex flex-column flex-md-row justify-content-start justify-content-md-between align-items-baseline align-items-md-center">
              <p class="author">Copyright © 2019 Ogami - All Rights Reserved.</p><img class="payment-method" src="{% static "images/payment.png" %}" alt="">
            </div>
          </div>
        </div>
      </footer>