<!DOCTYPE html>
{% load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
   <header>
        <div class="header-block d-flex align-items-center">
          <div class="container">
            <div class="row">
              <div class="col-12 col-md-6">
                <div class="header-left d-flex flex-column flex-md-row align-items-center">
                </div>
              </div>
              <div class="col-12 col-md-6">
                <div class="header-right d-flex flex-column flex-md-row justify-content-md-end justify-content-center align-items-center">
                  <div class="social-link d-flex"><a href=""><i class="fab fa-facebook-f"> </i></a><a href=""><i class="fab fa-twitter"></i></a><a href=""><i class="fab fa-invision"> </i></a><a href=""><i class="fab fa-pinterest-p"> </i></a></div>

                  <div class="login d-flex"><a href="#"><i class="fas fa-user"></i>Login</a></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <nav class="navigation d-flex align-items-center">
          <div class="container">
            <div class="row">
              <div class="col-2"><a class="logo" href="../index"><img src="{% static "images/logo.png" %}" alt=""></a></div>
              <div class="col-8">
                <div class="navgition-menu d-flex align-items-center justify-content-center">
                  <ul class="mb-0">
                    <li class="toggleable"> <a class="menu-item" href="../index">Home</a></li>
                    <li class="toggleable"> <a class="menu-item" href="../products">Products</a>
                      <ul class="sub-menu shop d-flex">
                        <div class="nav-column">
                          <h2>Layout products</h2>
                          <li><a href="../products">Products grid</a></li>
                        </div>
                        <div class="nav-column">
                          <h2>Pages shop</h2>
                          <li><a href="../products/checkout">checkout</a></li>
                          <li><a href="../products/order_complete">order complete</a></li>
                          <li><a href="../products/cart">cart</a></li>
                        </div>
                      </ul>
                    </li>
                    <li class="toggleable"><a class="menu-item" href="../blog">Blog</a>
                    </li>
                    <li class="toggleable"> <a class="menu-item" href="#">Pages</a>
                      <ul class="sub-menu">
                        <li><a href="../pages/login">login</a></li>
                        <li><a href="../pages/register">register</a></li>
                        <li><a href="../pages/faq">FAQ</a></li>
                      </ul>
                    </li>
                    <li class="toggleable"><a class="menu-item" href="../about_us">About us</a></li>
                  </ul>
                </div>
              </div>
              <div class="col-2">
                <div class="product-function d-flex align-items-center justify-content-end">
                  <div id="wishlist"><a class="function-icon icon_heart_alt" href="#"></a></div>
                  <div id="cart"><a class="function-icon icon_bag_alt" href="#"><span>$0.00</span></a></div>
                </div>
              </div>
            </div>
          </div>
        </nav>
        <div class="navigation-filter">
          <div class="container">
            <div class="row">
              <div class="col-12 col-md-4 col-lg-4 col-xl-3 order-2 order-md-1">
                <div class="department-menu_block">
                  <div class="department-menu d-flex justify-content-between align-items-center"><i class="fas fa-bars"></i>All departments<span><i class="arrow_carrot-down"></i></span></div>
                  <div class="department-dropdown-menu">
                    <ul>
                      <li><a href="#"> <i class="icon-1"></i>Fresh Meat</a></li>
                      <li><a href="#"> <i class="icon-2"></i>Vegetables</a></li>
                      <li><a href="#"> <i class="icon-3"></i>Fruit & Nut Gifts</a></li>
                      <li><a href="#"> <i class="icon-4"></i>Fresh Berries</a></li>
                      <li><a href="#"> <i class="icon-5"></i>Ocean Foods</a></li>
                      <li><a href="#"><i class="icon-6"></i>Butter & Eggs</a></li>
                      <li><a href="#"><i class="icon-7"></i>Fastfood</a></li>
                      <li><a href="#"> <i class="icon-8"></i>Fresh Onion</a></li>
                      <li><a href="#"> <i class="icon-9"></i>Papayaya & Crisps</a></li>
                      <li><a href="#"><i class="icon-10"></i>Oatmeal</a></li>
                      <li><a href="#"> <i class="icon-11"></i>Fresh Bananas</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-8 col-lg-8 col-xl-9 order-1 order-md-2">
                <div class="website-search">
                  <div class="row no-gutters">
                    <div class="col-0 col-md-0 col-lg-4 col-xl-3">
                      <div class="filter-search">
                        <div class="categories-select d-flex align-items-center justify-content-around"><span>All Categories</span><i class="arrow_carrot-down"></i></div>
                        <div class="categories-select_box">
                          <ul>
                            <li>Fruit & Nut Gifts</li>
                            <li>Fresh Berries</li>
                            <li>Ocean Foods</li>
                            <li>Butter & Eggs</li>
                            <li>Ocean Foods</li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="col-8 col-md-8 col-lg-5 col-xl-7">
                      <div class="search-input">
                        <input class="no-round-input no-border" type="text" placeholder="What do you need">
                      </div>
                    </div>
                    <div class="col-4 col-md-4 col-lg-3 col-xl-2">
                      <button class="no-round-btn">Search</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </header>
</body>
</html>